@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
}

:root {
  --toastify-color-success: #6d8ecc;
  --toastify-color-error: #ff6c6c;
  --toastify-color-info: #dbdbdb;
}
